@use "./base.scss";

// put your custom CSS here!
.socials-button {
    width: 49%;
    text-align: left;
    margin-bottom: 3px;
    font-size:var(--font-text-size);
    background-color:var(--secondary);
    color:var(--light);
    cursor:pointer;
    border:1px solid black;
    border-radius:5px;
    padding:20px;
    transition-duration:.2s;
    transition-timing-function:ease;
  }
.socials-button:hover {
    background-color: var(--tertiary);
}
// .socials-image{
//     width: 13px;
//     height: 15px;
//     text-align: left;
// }