@use "./base.scss";

// put your custom CSS here!
.socials-button {
    width: 49%;
    text-align: left;
    margin-bottom: 3px;
    font-size:var(--font-text-size);
    background-color:var(--secondary);
    color:var(--light);
    cursor:pointer;
    border:1px solid black;
    border-radius:5px;
    padding:20px;
    transition-duration:.2s;
    transition-timing-function:ease;
  }
.socials-button:hover {
    background-color: var(--tertiary);
}
.socials-icon {
  flex-shrink:0;
  width:1.3em;
  height:1.3em;
  margin-top:0;
  margin-bottom:-.3em;
  margin-right:.4em;
  position:relative
}